<h1>Playlist: <%= @account.name %></h1>
<h2>Songs:</h2>

<ul>
  <% @songs.each do |s| %>
    <li>
    <%= link_to s.name, [@account, s] %>
    <p>$<%= s.lyric %></p>
    </li>
  <% end %>
</ul>

<br>
<%= link_to 'Back to Playlists', accounts_path%>

<%= link_to 'Create a new song', new_song_path %>